dbdemo/src/main/mule/dbdemo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="13215f0d-d0e7-4850-983b-d76101fbd5cb" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="ffd9bfb2-4253-48da-bc1e-eeb99ab3254a" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="Itraju@2807" database="muletrainingdb" />
	</db:config>
	<flow name="dbdemoFlow" doc:id="2b8f4060-34e0-432f-80ae-30d1e1c3673f" >
		<http:listener doc:name="Listener" doc:id="b1ba1195-86ac-4fce-bb92-6c00ae016345" config-ref="HTTP_Listener_config" path="dbdemo"/>
		<db:select doc:name="Select" doc:id="f0521884-def0-4f00-980a-816880d2b33a" config-ref="Database_Config">
			<db:sql ><![CDATA[select *from product where brand_name = :bname]]></db:sql>
			<db:input-parameters ><![CDATA[#[%dw 2.0
output applicaton/java
---
{
	bname:attributes.queryParams.productname as String
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="2c264840-0429-43b0-ae70-6fe16f54c851" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
